extends ../../_layout
block title
  title #{lessons[1].name} | #{lessons[1].description}
block style
  link(rel="stylesheet" href="../../app.css")
block header
  h1
    | #{lessons[1].name} :-)
    br
    | #{lessons[1].description}
block content
  .page-intermediate
    table.table.js-table
      thead
        th.btn-sort.js-btn-sort(data-sortkey="name") NAME
        th.btn-sort.js-btn-sort(data-sortkey="amount") AMOUNT
      tbody.tbody.js-tbody
    .btn.js-btn-fetch FETCH NEW DATA!
    ul.list-challenge
      li.list-challenge-item Add incremental search.
  .btn-to-index
    a(href="../../") > INDEX
block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js")
  script(src="IntermediateModel.js")
  script(src="TableView.js")
  script(src="FetchBtnView.js")
  script(src="index.js")
