extends ../_layout
block title
  title #{lessons[2].name} | #{lessons[2].description}
block style
  link(rel="stylesheet" href="../app.css")
block header
  h1
    | #{lessons[2].name} :-)
    br
    | #{lessons[2].description}
block content
  .page-senir
    table.table.js-table
      thead
        th.btn-sort.js-btn-sort(data-sortkey="name") NAME
        th.btn-sort.js-btn-sort(data-sortkey="amount") AMOUNT
      tbody.tbody.js-tbody
    .btn.js-btn-add-item ADD AN ITEM
  .btn-to-index
    a(href="../") > INDEX
block other
  .modal.js-modal-add-item
    .modal-background
    .modal-box
      .modal-header
        .modal-header-title Add Item
      .modal-content
        .form-add-item
          .form-add-item-name
            input.js-input-add-item-name(type="text" placeholder="NAME" autofocus)
          .form-add-item-amount
            input.js-input-add-item-amount(type="number" placeholder="AMOUNT")
        .btn.js-btn-add-item-submit ADD ITEM!
block scripts
  script(src="SenirModel.js")
  script(src="../intermediate/TableView.js")
  script(src="AddItemBtnView.js")
  script(src="AddItemModalView.js")
  script(src="app.js")
