doctype html
html(lang="en")
  head
    title StarterKit
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="app.css")
    link(rel="icon" href="")
  body
    section#app
      .tab
        ul.tab-btns
          li.tab-btn.js-tab-btn tab1
          li.tab-btn.js-tab-btn tab2
          li.tab-btn.js-tab-btn tab3
        ul.tab-contents
          li.tab-content.js-tab-content content1
          li.tab-content.js-tab-content content2
          li.tab-content.js-tab-content content3
    script(src="app.js")
