extends ../../_layout
block title
  title #{lessons[0].name} | #{lessons[0].description}
block style
  link(rel="stylesheet" href="../../app.css")
block header
  h1
    | #{lessons[0].name} :-)
    br
    | #{lessons[0].description}
block content
  .page-beginner
    .tab.js-tab
      ul.tab-btns
        li.tab-btn.js-tab-btn tab0
        li.tab-btn.js-tab-btn tab1
        li.tab-btn.js-tab-btn tab2
      ul.tab-contents
        li.tab-content.js-tab-content content0
        li.tab-content.js-tab-content content1
        li.tab-content.js-tab-content content2
  .btn-to-index
    a(href="../../") > INDEX
block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js")
  script(src="TabView.js")
  script(src="index.js")
