doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    block title
    link(rel="stylesheet" href="/app.css")
    link(rel="icon" href="")
  body
    section#app
      header
        block header
      section.content
        block content
      footer
        a(href="https://github.com/khirayama")
          small &copy; khirayama.
      block scripts
