// define
$width-content: 600px;
$color-main: #e2740e;
$color-black: #333;
$color-darkgray: #666;
$color-gray: #999;
$color-white: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  color: $color-black;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  padding: 80px 0;
  background-color: $color-main;
  text-align: center;
  h1 {
    margin-bottom: 36px;
    color: $color-white;
    font-size: 36px;
  }
}
.content {
  margin: 40px auto;
  width: $width-content;
  h2 {
    margin-bottom: 24px;
  }
}
footer {
  margin: 0 auto;
  width: $width-content;
  text-align: right;
  a {
    text-decoration: none;
  }
}
.btn-totop {
  text-align: right;
  > a {
    text-decoration: none;
    font-size: 12px;
  }
}
.list-challenge {
  list-style: none;
  .list-challenge-item {
    &:before {
      margin-right: 24px;
      content: 'CHALLENGE:';
      font-weight: bold;
    }
  }
}

.page-index {
  .content {
    h2 {
      margin-bottom: 20px;
      font-size: 24px;
    }
    .list-rank {
      margin-bottom: 36px;
      padding: 0 24px;
      list-style: none;
      .list-rank-item {
        margin-bottom: 20px;
        a {
          text-decoration: none;
          label {
            color: $color-gray;
            font-weight: bold;
            transition: color .2s ease-out;
          }
          small {
            color: $color-gray;
            transition: color .2s ease-out;
          }
          &:hover {
            label {
              color: $color-darkgray;
              font-weight: bold;
            }
            small {
              color: $color-darkgray;
            }
          }
        }
      }
    }
  }
}

.page-beginner {
  .tab {
    margin: 100px auto;
    width: 500px;
    border: solid 1px $color-gray;
    background-color: $color-main;
    .tab-btns {
      display: table;
      width: 100%;
      table-layout: fixed;
      list-style: none;
      .tab-btn {
        display: table-cell;
        height: 40px;
        background-color: $color-white;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        &.is-active {
          background-color: $color-main;
          color: $color-white;
        }
        &+.tab-btn {
          border-left: solid 1px $color-gray;
        }
      }
    }
    .tab-contents {
      width: 100%;
      list-style: none;
      .tab-content {
        display: none;
        width: 100%;
        height: 300px;
        color: $color-white;
        text-align: center;
        line-height: 300px;
        &.is-active {
          display: block;
        }
      }
    }
  }
}

.page-intermediate {
  .btn-fetch {
    margin-bottom: 24px;
    padding: 8px 0;
    border-radius: 3px;
    background-color: $color-main;
    color: $color-white;
    text-align: center;
    cursor: pointer;
    &:hover {
      opacity: .6;
    }
    &:active {
      opacity: .8;
    }
  }
  .table {
    margin-bottom: 30px;
    width: 100%;
    border-collapse: collapse;
    th,
    td {
      padding: 4px 8px;
      width: 50%;
    }
    th {
      border: solid 1px $color-main;
    }
    td {
      border: solid 1px $color-gray;
    }
    .btn-sort {
      background-color: $color-main;
      color: $color-white;
      cursor: pointer;
      &:after {
        content: '↓';
      }
      &:hover {
        opacity: .6;
      }
      &:active {
        opacity: .8;
      }
    }
  }
}
