doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="app.css")
    link(rel="icon" href="")
  body.page-index
    section#app
      header
        h1
          = title
          br
          = subtitle
      section.content
        nav
          section
            h2 Lessons
            ul.list-rank
              li.list-rank-item
                a(href="/beginner")
                  label BEGINNER
                  br
                  small make a simple tab
              li.list-rank-item
                a(href="/intermediate")
                  label INTERMEDIATE
                  br
                  small make a sortable table & fetch btn
              li.list-rank-item
                a(href="/senir")
                  label SENIR
                  br
                  small make a sortable table & modal for adding an item
          section
            h2 [WIP]Lessons(Extra): use micro framework
            ul.list-rank
              li.list-rank-item
                a(href="/_extra/beginner")
                  label BEGINNER
                  br
                  small make a simple tab
              li.list-rank-item
                a(href="/_extra/intermediate")
                  label INTERMEDIATE
                  br
                  small make a sortable table & fetch btn
              li.list-rank-item
                a(href="/_extra/senir")
                  label SENIR
                  br
                  small make a sortable table & modal for adding an item
      footer
        a(href="https://github.com/khirayama")
          small &copy; khirayama.
