doctype html
html(lang="en")
  head
    title Handson Front-end :-)
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="app.css")
    link(rel="icon" href="")
  body.page-index
    section#app
      header
        h1
          | Hands on Front-end :-)
          br
          | with CoffeeScript
      section.content
        nav
          section
            h2 Lessons
            ul.list-rank
              li.list-rank-item
                a(href="/beginner")
                  label BEGINNER
                  br
                  small make a simple tab.
              li.list-rank-item
                a(href="/intermediate")
                  label INTERMEDIATE
                  br
                  small make a sortable tabel & fetch btn
              li.list-rank-item
                a(href="/senir")
                  label SENIR
                  br
                  small make a tabel and modal for adding an item.
          section
            h2 Lessons(Extra): use micro framework!
            ul.list-rank
              li.list-rank-item
                a(href="/_extra/beginner")
                  label BEGINNER
                  br
                  small make a simple tab.
              li.list-rank-item
                a(href="/_extra/intermediate")
                  label INTERMEDIATE
                  br
                  small make a table with incremental search & sort.
              li.list-rank-item
                a(href="/_extra/senir")
                  label SENIR
                  br
                  small make a tabel and modal for adding an item.
      footer
        a(href="https://github.com/khirayama")
          small &copy; khirayama.
