doctype html
html(lang="en")
  head
    title Handson CoffeeScript :-)
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="app.css")
    link(rel="icon" href="")
  body.page-index
    section#app
      h1 Handson CoffeeScript :-)
      section
        h2 Lessons
        ul.list-rank
          li.list-rank-item
            a(href="/beginner") BEGINNER
          li.list-rank-item
            a(href="/intermediate") INTERMEDIATE
          li.list-rank-item
            a(href="/senir") SENIR
      section
        h2 Lessons(Extra): use micro framework!
        ul.list-rank
          li.list-rank-item
            a(href="/_extra/beginner") BEGINNER
          li.list-rank-item
            a(href="/_extra/intermediate") INTERMEDIATE
          li.list-rank-item
            a(href="/_extra/senir") SENIR
